@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

.about-us {
  margin: 150px 0;
}

.about-field {
  border: 2px solid #000;
  text-align: center;
}

.about-field legend {
  font-size: 2.125em;
  color: #3c3c3c;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 40%;
}

.about-field p {
  font-size: 1em;
  color: #3c3c3c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 24px;
  width: 60%;
  margin: 30px auto 50px;
  padding: 10px 0;
}

.about-field p:last-child {
  margin-top: 0;
  width: 41%;
}

.center {
  text-align: center;
}

.contact {
  margin: 150px 0 50px;
}

.contact-field {
  border: 2px solid #000;
  text-align: center;
}

.contact-field .btn-contact {
  font-size: 1em;
  background-color: #3c3c3c;
  border: 2px solid #3c3c3c;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 50px;
  max-width: 60%;
  padding: 20px;
  text-transform: uppercase;
  width: 395px;
  word-spacing: 5px;
}

.contact-field legend {
  font-size: 2.125em;
  color: #3c3c3c;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 40%;
  word-spacing: 10px;
}

.contact-field p {
  font-size: 1em;
  color: #3c3c3c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 24px;
  width: 60%;
  line-height: 16px;
  margin: 20px auto;
  padding: 10px 0;
}

footer {
  margin: 70px 0;
  text-align: center;
}

footer p {
  font-size: 0.875em;
  color: #3c3c3c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 0;
  width: auto;
  display: inline-block;
  font-weight: 400;
  line-height: 16px;
}

footer img {
  margin-right: 30px;
}

.gallery {
  margin: 0 auto;
  text-align: center;
}

.gallery .photo {
  padding: 5px;
  position: relative;
}

.gallery .photo h1 {
  font-size: 2.125em;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  bottom: 1vw;
  left: 30px;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
}

.gallery img {
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.jumbo {
  margin-top: 22vh;
}

.jumbotron {
  background-attachment: fixed;
  background-image: url("../img/jumbo-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-button {
  margin-top: 200px;
  text-align: center;
}

.logo {
  text-align: center;
}

.page-header {
  text-align: center;
}

.page-header h1 {
  font-size: 3.375em;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 100px 0 50px;
  text-align: center;
  text-transform: uppercase;
}

.page-header p {
  font-size: 1em;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 29px;
  width: auto;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 50px auto 200px;
  max-width: 800px;
  text-align: center;
  text-transform: uppercase;
}

.services {
  background: url("../img/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  padding: 100px 0;
}

.services-field {
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
}

.services-field legend {
  font-size: 2.125em;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 40%;
  text-align: center;
}

.services-field p {
  font-size: 1em;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 26px;
  width: 59%;
  margin: 25px auto 50px;
  padding: 25px;
  text-align: center;
}

.works {
  margin: 150px 0;
}

.works-field {
  border: 2px solid #000;
  text-align: center;
  text-align: center;
}

.works-field div {
  margin-top: 100px;
}

.works-field h3 {
  font-size: 1.25em;
  color: #3c3c3c;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding: 40px 0;
  text-transform: uppercase;
}

.works-field legend {
  font-size: 2.125em;
  color: #3c3c3c;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 40%;
  word-spacing: 10px;
}

.works-grid {
  margin: 0 auto;
  text-align: center;
}

.works-grid p {
  font-size: 1em;
  margin: 0 auto;
  width: 68%;
}

.works-grid p:last-child {
  margin-bottom: 50px;
}

@media only screen and (max-width: 425px) {
  .about-us, .works, .contact, .services-field, .page-header {
    margin: 50px 0;
  }
  .about-us p, .works p, .contact p, .services-field p, .page-header p {
    word-spacing: 5px;
    line-height: 24px;
    margin: 30px auto;
    padding: 0 30px;
    text-align: justify;
    width: 100%;
  }
  .about-us p:last-child, .works p:last-child, .contact p:last-child, .services-field p:last-child, .page-header p:last-child {
    padding: 0 30px;
    width: 100%;
  }
  .works-field h3 {
    padding: 20px 0;
  }
  .works-field div {
    margin-top: 50px;
  }
  .contact-field legend {
    width: 50%;
  }
  footer p {
    margin: 0 25px;
  }
  .gallery .photo h1 {
    font-size: 1.5em;
  }
  .services {
    padding: 50px 0;
  }
  .jumbo {
    margin-top: 11vh;
  }
}
 

 /*# sourceMappingURL= main.css.map */